In [8]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import StandardScaler  
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.tree import plot_tree, DecisionTreeRegressor, export_graphviz
import matplotlib.pyplot as plt
import graphviz
import seaborn as sns
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import xgboost as xgb

In [3]:
data = pd.read_excel('/Users/malorenaudin/credit_scoring/dataproject2024.xlsx')
data.head()

,ID,Job tenure,Age,Car price,Funding amount,Down payment,Loan duration,Monthly payment,Credit event,Married,Homeowner,Default (y),Pred_default (y_hat),PD,Group
0,1,34,55,4875,3087,0,36,0.047895,0,1,1,0,0,0.024480,1
1,2,5,29,13000,13000,0,60,0.091667,0,0,0,1,0,0.331661,0
2,3,14,38,17190,14190,0,60,0.088235,0,0,0,0,0,0.187505,0
3,4,16,37,22773,23568,0,48,0.110084,0,1,1,0,0,0.035441,1
4,5,1,61,7700,8526,0,48,0.123404,0,1,0,1,0,0.340883,0

In [4]:
data.drop(columns=['ID', 'Pred_default (y_hat)', 'Group', 'PD'], inplace=True)

In [5]:
data

,Job tenure,Age,Car price,Funding amount,Down payment,Loan duration,Monthly payment,Credit event,Married,Homeowner,Default (y)
0,34,55,4875,3087,0,36,0.047895,0,1,1,0
1,5,29,13000,13000,0,60,0.091667,0,0,0,1
2,14,38,17190,14190,0,60,0.088235,0,0,0,0
3,16,37,22773,23568,0,48,0.110084,0,1,1,0
4,1,61,7700,8526,0,48,0.123404,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
7425,9,38,4502,4856,0,48,0.083846,1,0,0,1
7426,1,33,22900,17900,0,60,0.098000,0,0,0,0
7427,3,27,25858,25972,0,24,0.181667,0,0,0,0
7428,6,32,12300,11300,0,72,0.091963,0,0,1,0
7429,5,47,15900,17764,0,96,0.135000,0,1,0,0

In [7]:
continuous_features = ['Job tenure', 'Age', 'Car price', 'Funding amount', 'Loan duration', 'Monthly payment']
scaler = StandardScaler()  # or MinMaxScaler()
data[continuous_features] = scaler.fit_transform(data[continuous_features])

In [13]:
X = data.drop(columns=['Default (y)'])  # Features
y = data['Default (y)']  

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train an XGBoost model
model = xgb.XGBClassifier(eval_metric='logloss')
model.fit(X_train, y_train)

# Make predictions
train_predictions = model.predict(X_train)
test_predictions = model.predict(X_test)

# Calculate accuracy
train_accuracy = accuracy_score(y_train, train_predictions)
test_accuracy = accuracy_score(y_test, test_predictions)

print("train_accuracy", train_accuracy)
print("test_accuracy", test_accuracy)

train_accuracy 0.9527254374158816
test_accuracy 0.8014804845222072